{% extends 'layout.html' %} {% block content %}
<img id="banner" src="../static/img/banner.avif" alt="banner" class="img-fluid" />
<div class="container">
    <h2 class="text-center mt-5 mb-5">About {{company_name}}</h2>
    <div class="row">
        <div class="col-md-6">
            <p class="lead m">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus impedit eveniet
                mollitia a. Itaque dolorem voluptatum pariatur sequi? Nulla omnis optio commodi
                quis! Vero cupiditate porro, cumque accusamus possimus maiores. Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Earum numquam quos enim in qui, doloremque
                delectus aliquam nesciunt distinctio, voluptate consequuntur. Laborum enim voluptate
                nemo voluptatibus impedit quam repellat quos.
            </p>
        </div>
        <div class="d-0 d-md-block col-md-6">
            <img src="../static/img/king-ai-generator.jpg" alt="people working..." id="the-king" />
        </div>
    </div>

    <h2 class="text-center mt-5 mb-4">Jobs Opening...</h2>
    {% include 'job-item.html'%}

    <div class="text-center mt-5">
        <a
            href="mailto:leminhoang2004@gmail.com?subject=Ask%20a%20question&body=%3C%3CWrite%20your%20question%20here%3E%3E"
            class="btn btn-primary btn-lg"
            >Contact Us</a
        >
    </div>
</div>
{% endblock %}
