{% for job in jobs %}
<div class="jobs border-bottom row">
    <div class="col-11">
        <a href="/job/{{job['id']}}" class="job-title text-dark"><h4>{{job['title']}}</h4></a>
        <div><b>Location:</b> {{job['location']}}</div>

        {% if 'salary' in job %}
        <div><b>Salary:</b> {{job['currency']}}{{job['salary']}}</div>
        {% endif %}
    </div>
    <div class="col-1">
        <a href="/job/{{job['id']}}" type="button" class="btn btn-outline-primary btn-lg">
            Apply
        </a>
    </div>
</div>
{% endfor %}
